@import "../styles/common.scss";

.main-container {
  display: flex;
  justify-content: space-between;
}

.content-container {
  width: 100%;
}

.content-container-patient {
  width: 100%;
  position: relative;
}

.wrapper-home-page {
  width: 100%;
  position: absolute;
}
