@import "../styles/common.scss";

.main-container {
  display: flex;
  justify-content: space-between;
}

.content-container {
  width: 100%;
  position: relative;
}

.content-container > div {
  position: absolute;
}
