@import "../../../styles/common.scss";

.modal-re-examination {
  .form-group-modal-booking {
    margin: 20px 0px !important;
  }

  .ant-form-item.css-dev-only-do-not-override-1adbn6x {
    display: flex;
    justify-content: center;
    flex-basis: 80% !important;
  }
}
