.form-group-modal-booking {
  display: flex;
  justify-content: space-between;

  .ant-form-item.css-dev-only-do-not-override-1adbn6x {
    flex-basis: 48%;
  }
}

:where(.css-dev-only-do-not-override-1adbn6x).ant-modal .ant-modal-title {
  font-size: 20px;
}

.ant-modal-body {
  .content-intro {
    margin-bottom: 20px;

    .preliminary-information h3 {
      padding: 10px 0 0px;
      font-size: 18px;
      font-weight: 600;
    }
  }

  .avatar-doctor {
    min-width: 130px;
    min-height: 130px;
  }

  .wrapper-infor-price {
    margin-top: 10px;
    font-size: 15px;
  }
}
