/*
 * General styles
 */
body,
html {
  background-image: "#fff";
  background-repeat: no-repeat;
  background-size: cover;
  font-family: $fontmain;
  font-size: $base-size - 2px;
  height: 100vh;
  overflow: auto;
}

html *::-webkit-scrollbar {
  border-radius: 0;
  width: 10px;
}

html *::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.15);
}

html *::-webkit-scrollbar-track {
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0);
}

.modal-body {
  padding: 1rem 1rem 0;
}

.modal {
  .modal-dialog {
    .modal-content {
      .modal-header {
        padding: 0 10px;
        height: 35px;
        background-color: $colormain;
        color: $common-text-color;
        .modal-title {
          line-height: 35px;
          font-weight: 500;
          font-size: $base-size + 1px;
        }
        .btn-close {
          position: absolute;
          color: $common-text-color;
          i {
            line-height: 35px;
            font-size: $base-size + 2px;
          }
        }
      }
      .modal-footer {
        border-top: none;
        padding: 0 1.5rem 0.75rem !important;
      }
    }
  }
}
