@import "../../styles/common.scss";

#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers tr:hover {
  background-color: #cccaca;
}

#customers td,
#customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers .custom-header {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #48e912;
  color: white;
}

#customers .custom-header:hover {
  background-color: #48e912 !important;
}

#customers {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
}

.text-center {
  flex-grow: 100;
  margin: 0 20px 0 0;
}

.style-modal {
  width: 100%;
  margin: 0 20px;
}

.title-page {
  color: #197af5;
  margin: 30px 0;
  font-weight: 600;
}

.btn-add-user {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 12px;
  border-radius: 4px;
  margin: 0 20px 20px 0;
  font-size: 14px;
  float: left;

  i {
    margin: 0 6px 4px 0;
  }
}

.modal-header {
  button {
    background: transparent;
    border: none;
    font-size: 30px;
    color: #fff;
  }
}

.wrapper-form-group {
  display: flex;
  gap: 16px;
  margin-bottom: 10px;
}

.form-group {
  margin-bottom: 10px;
  width: 100%;

  label {
    margin-bottom: 2px;
  }
}

.btn-save {
  margin-right: 10px;

  &:hover {
    color: #fff !important;
    background-color: $colormain;
  }
}

.btn-icon {
  border: none;
  outline: none;
  background: transparent;
}

.btn-icon:hover {
  background: transparent !important;
  color: #197af5 !important;
}

.btn-edit {
  margin: 0 8px;
  color: orange;
}

.btn-delete {
  margin: 0 8px;
  color: red;
}

.login-error {
  width: 100%;
  margin: 6px 0 0;
  text-align: left;
  .login-error-message {
    color: red;
  }
}

.close {
  &:hover {
    color: rgb(182, 184, 182);
  }
}

.wrapper-loading {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

:where(.css-dev-only-do-not-override-1adbn6x).ant-layout {
  flex: none;
}
