.header-page-container {
  position: fixed;
  background-color: #fff;
  width: 100%;
  z-index: 999;
  overflow-y: scroll;
}

.header-page-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 40px;
}

.wrapper-header-logo {
  display: flex;
  align-items: center;
}

.wrapper-item-header {
  display: flex;
  flex-direction: row;
  margin: 0;
  justify-content: space-around;
  flex: 1;
  padding: 0 2rem;
}

.header-logo {
  width: 150px;

  img {
    margin-left: 16px;
  }

  :hover {
    cursor: pointer;
  }
}

.icon-bar {
  font-size: 16px;
  :hover {
    cursor: pointer;
  }
}

.item-header {
  list-style: none;

  h4 {
    margin: 0;
    font-size: 16px;
    font-weight: 600;
  }

  p {
    margin: 0;
    font-size: 12px;
  }

  :hover {
    cursor: pointer;
  }
}

.wrapper-support-language {
  display: flex;
  align-items: center;
}

.wrapper-support {
  display: flex;
  flex-direction: column;
  text-align: right;
  margin-right: 20px;

  .support {
    i {
      margin-right: 6px;
      color: #45c3d2;

      text {
        padding-left: 4px;
        color: #969495;
      }
    }

    :hover {
      cursor: pointer;
    }
  }

  .phone-number {
    font-size: 14px;
    color: #45c3d2;
  }
}

.multi-language {
  display: flex;

  .language-vi,
  .language-en {
    margin: 0 4px;
    font-weight: 600;
    cursor: pointer;

    &.active {
      color: #f7d800;
    }
  }
}

.wrapper-container-home-page {
  margin-top: 60px;
}

.container-home-page {
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.082),
      rgba(255, 253, 253, 0.726) 90%
    ),
    url("../../assets/images/anh-dep-ve-gia-dinh.jpg");
  padding: 26px 0;
}

.main-title {
  h1 {
    text-transform: uppercase;
    text-shadow: 1px 1px 1px #333;
    text-align: center;
    color: #0b8cff;
    padding-top: 24px;
    font-family: "ProximaNova", sans-serif;
  }
}

.wrapper-optionMedical {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0 40px;
  padding-top: 20px;

  h4 {
    font-size: 20px;
    font-weight: 600;
  }
}

.wrapper-item-optionMedical {
  width: 160px;
  text-align: center;
  font-size: 16px;
  color: #333;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  :hover {
    cursor: pointer;
    color: #f76300;
  }
}

.img-item-option {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
  width: 50px;
  height: 50px;
  margin: 2px auto;
}

.img-item-option img {
  width: 60%;
  height: 60%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 32px;
}

.wrapper-sections {
  margin: 0 30px;
}

// Css chung cho sections

.section-container {
  height: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ededed;
}

.offers_container {
  width: 96%;
}

.offer_box {
  position: relative;
}

.offer_box > div {
  height: 80%;
}

.wrapper-title-main-section {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 30px !important;
  z-index: 99;
  margin: 16px 0;
}

.title-main-section {
  margin-left: 30px;
  margin-bottom: 0;
  font-weight: 600;
}

.btn-see-more {
  padding: 5px 10px;
  margin-bottom: 0;
  background-color: #d1d1d1;
  margin-right: 30px;
  border: none;
  border-radius: 4px;

  &:hover {
    cursor: pointer !important;
    background-color: #959494 !important;
  }
}

.react-multi-carousel-track {
  height: 100%;
}

.react-multi-carousel-item {
  padding: 0 20px 20px;
}

.card {
  height: 100%;
  justify-content: center;
  align-items: center;
  border-radius: 1.25rem;
  cursor: pointer;

  img {
    width: 60%;
    height: 60%;
    border-radius: 50%;
    margin-bottom: 10px;
  }
}

.name-doctor {
  margin-bottom: 0;
}

.title-specialty {
  margin-bottom: 0;
}

@media all and (min-width: 1440px) {
  .section-container {
    height: 500px;
  }
}

@media all and (max-width: 1200px) {
  .section-container {
    height: 300px;
  }

  .container-home-page {
    height: 100%;
  }
}
