.wrapper-list-doctor {
  display: flex;
  margin-bottom: 30px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  .intro-doctor {
    width: 50%;
    margin: 20px 0;
    padding: 0 20px;
    border-right: 2px solid #e7e7e7;
  }

  .list-doctor-specialty.schedule-doctor {
    width: 50%;
    display: block;

    .doctor-schedule-container {
      margin: 20px 0;
      padding: 0 20px;
      flex-basis: 0;
      border-right: none;
    }
  }
}

.title-list-doctors {
  font-size: 20px;
  margin: 20px;
}
