@import "../../styles/common.scss";

:where(.css-dev-only-do-not-override-1adbn6x).ant-layout {
  background: transparent;
}

.wrapper-sidebar {
  min-height: 100vh;
}

.infor-user {
  h5 {
    margin: 0;
  }
}

.sidebar {
  max-width: 100% !important;
  min-width: auto !important;
  width: auto !important;
}

.ant-layout-sider-collapsed {
  max-width: 80px !important;
}

.style-title-sub {
  a {
    text-decoration: none;
  }
}

.ant-menu-title-content {
  a {
    text-decoration: none;
  }
}
