.schedule-doctor {
  display: flex;
}

.doctor-detail-container {
  min-height: 91vh;
  padding: 82px 40px 20px;
}

.intro-doctor {
  margin-top: 25px;
}

.content-intro {
  display: flex;
  margin-bottom: 30px;

  .avatar-doctor {
    margin-right: 30px;
    min-width: 180px;
    min-height: 180px;
    background-size: cover;
    border-radius: 50%;

    img {
      width: 160px;
      height: 160px;
      border-radius: 50%;
    }
  }
}

.preliminary-information {
  h3 {
    padding: 20px 0 8px;
    font-size: 22px;
    font-weight: 600;
  }
}

.schedule-doctor {
}

.detail-infor-doctor {
  padding: 30px 20px 0;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);

  p {
    img {
      width: 100%;
    }
  }
}

@media all and (min-width: 1201px) {
  .doctor-detail-container {
    padding: 82px 70px 20px;
  }
  .content-intro {
    .avatar-doctor {
      img {
        width: 200px;
        height: 200px;
      }
    }
  }
}
